@page "/net"
@using NetCalculator.Common.Models.Netting;
@inherits BaseNetPage

<section class="input">
    <h3 class="title">@Localization.Input</h3>
    <EditForm Model="this" OnValidSubmit="Calculate">
        <DataAnnotationsValidator />
        <InputNetAddress @bind-Value=NetAddress />
        <input type="submit" value="@Localization.Calculate" />
    </EditForm>
</section>

<section id="@RESULT_ID" class="output">
    @if (Result != null)
    {
        <h3 class="title">@Localization.Result</h3>

        <p>
            <h5>@Localization.NetAddress</h5>
            @Localization.NetIp: @Result.Address.Ip
            <br/>
            @Localization.Mask: @Utils.MaskIntToString(Result.Address.Mask) (/@Result.Address.Mask)
        </p>

        <p>
            <h5>@Localization.DefaultGateway</h5>
            @Result.DefaultGatewayAddress
        </p>

        <p>
            <h5>@Localization.BroadcastAddress</h5>
            @Result.Broadcast
        </p>

        <p>
            <h5>@Localization.HostRange</h5>
            <table>
                <tr>
                    <td>
                        <h6>@Localization.From</h6>
                        @Result.FirstAssignableAddress
                    </td>
                    <td>
                        <h6>@Localization.To</h6>
                        @Result.LastAssignableAddress
                    </td>
                </tr>
            </table>
        </p>
    }
</section>

@code {
    private bool HasResult { get; set; } = false;
    private Calculator Calculator { get; set; } = new Calculator();
    private Response Result { get; set; }

    private void Calculate()
    {
        Request request = new Request { NetAddress = NetAddress.Value };
        Result = Calculator.Calculate(request);

        GoToResults();
    }
}
