@inject NavigationManager NavigationManager

<nav>
    <div class="background @NavMenuCssClass" @onclick="CloseMenu"></div>

    <section class="navbar">
        <div>
            <span class="pointer">
                <NavbarToggler @bind-IsMenuCollapsed="IsMenuCollapsed" />
            </span>
            <span>@Title</span>
        </div>
        <div class="pointer">
            <button @onclick="ChangeMode">
                <span class="oi oi-@(IsDarkMode ? "moon" : "sun")"></span>
            </button>
        </div>
    </section>

    <section class="navList @NavMenuCssClass">
        @foreach (KeyValuePair<string, string> route in Routes)
        {
            <NavLink class="nav-link" href="@route.Key" @onclick="CloseMenu">
                @route.Value
            </NavLink>
        }
    </section>
</nav>

@code {
    [Parameter] public Dictionary<string, string> Routes { get; set; }
    [Parameter] public bool IsDarkMode { get; set; } = false;
    [Parameter] public EventCallback<bool> IsDarkModeChanged { get; set; }

    private string Title { get; set; }
    private bool IsMenuCollapsed { get; set; } = true;
    private string NavMenuCssClass => IsMenuCollapsed ? "hide" : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        NavigationManager.LocationChanged += OnLocationChanged; 
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        OnLocationChanged(NavigationManager.Uri);
    }

    private void CloseMenu()
    {
        IsMenuCollapsed = true;
    }

    private async void ChangeMode()
    {
        IsDarkMode = !IsDarkMode;
        await IsDarkModeChanged.InvokeAsync(IsDarkMode);
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        OnLocationChanged(args.Location);
        StateHasChanged();
    }

    private void OnLocationChanged(string location)
    {
        string relativePath = NavigationManager.ToBaseRelativePath(location);

        if (Routes.TryGetValue(relativePath, out string title))
            Title = title;
        else
            Title = Localization.AppName;
    }
}
